{% extends 'base.html' %}
{% block title %}{{type}}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<form action="" method="post" style="width: 50%;margin: auto;">
    {% csrf_token %}
    <!-- {{form|crispy}} -->
    {% if form.non_field_errors %}
    {% for er in form.non_field_errors %}
    {{er}}
    {%endfor%}
    {% endif %}
    {% for fm in form %}
    {{fm.label_tag}}
    {{fm}}
    {{fm.errors}}
    {% endfor %}
    <button class="btn btn-primary" style="margin: 25px;margin-left: 0px;">{{type}}</button>
</form>
{% endblock %}