{% extends 'base.html' %}
{% block content %}
<div id="cards" style="display: flex;flex-wrap: wrap;justify-content: center;">
{% for car in cars %}
<div class="card" style="width: 18rem;margin: 20px;">
    <img src="{{ car.image.url }}" class="card-img-top" alt="Picture" style="width: 100%;height: 40%;">
    <div class="card-body">
      <p class="card-title">Brand: {{car.brand_name}}</p>
      <h5 class="card-title">Car name: {{car.name}}</h5>
      <p class="card-text">Description: {{car.description}}</p>
      <p>Quantity: {{car.quantity}} unit</p>
      <p>Price: {{car.price}}$</p>
      <p>{{car.slug}}</p>
      {% if car.quantity > 0 %}
      <a href="{% url 'buy_car' car.id %}" class="btn btn-primary">Buy</a>
      {% else %}
      <button class="btn btn-danger">Out of stock</button>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
<div id="carlists" style="width: 80%;margin: auto;">
     <h1 style="text-align: center;">Buying carlist:</h1>
    <h1 style="text-align: center;">Total: {{ carlists|length }} found</h1>
    <div style="display: flex;flex-wrap: wrap;justify-content: center;">
      {% for car in carlists %}
    <div class="card" style="width: 18rem;margin: 25px;padding: 10px;">
      <img src="{{car.image.url}}" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Brand: {{car.brand_name}}</h5>
        <h5 class="card-title">Name: {{car.name}}</h5>
        <h5 class="card-text">{{car.description}}</h5>
        <h5 class="card-title">Price: {{car.price}} $</h5>
        <h5 class="card-title">Buying date: {{car.date}}</h5>
      </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}